/* Basis instellingen */
* {
    /*border: solid 2px black;*/
    margin: 0px;
    box-sizing: border-box;
    overflow:auto;
}

/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: #ffffff;  
    
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
    background-image: url(afbeeldingen/achtergrond.jpeg) ;
    background-size: 100%;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
    background-color: greenyellow
}


header {
    color: black;
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 0px;
    background-color: black;
    color: white; 
}

/* Pagina layout */
.kolomRechts {
    width: 200px;
    float: right;
    margin: 10px;
    border: solid black 3px;
}
.kolomLinks {
    width: calc(100% - 200px - 40px);
    float: left;
    margin: 10px;
}

/* specifieke stijlen */

img.zweefRechts {
    float: right;
    margin-left: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: black;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: white;
    color: black;
}

nav li a.active {
    background-color: white;
    color: black;
}






